@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

a, a:hover, a:visited, a:active, a:focus { text-decoration: none !important; }

@media only screen and (max-width: 767px) {
    .mobile-only {
        display: block;
    }
    .desktop-only {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .mobile-only {
        display: none;
    }
    .desktop-only {
        display: block;
    }
}

.loader {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #147814;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
  
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 