{% extends "public/layout.html" %}

{% block content %}

    <div class="container my-5">
        <div class="row my-5">
            <div class="col-md-12">
                <div class="categoryHero" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url({{ base_url() }}/images/{{ data.category.image }}.jpg);">
                    <h1 class="bold700 text-white">{{ data.category.title }}</h1>
                    <p class="text-white">{{ data.category.description }}</p>
                </div>
            </div>
        </div>
        <div class="row my-5">
            {% for subcategory in data.subcategories %}
                <div class="col-6 col-sm-3 col-md-2 my-1">
                    <a href="{{ path_for('subcategory',{"subcategoryID": subcategory.subcategoryID}) }}">
                        <div class="card mb-3">
                            <div class="card-header text-black">{{ subcategory.title }}</div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row my-5">
            {% for product in data.products %}
                <div class="col-12 col-sm-6 col-md-4 my-4">
                    <div class="card px-2" style="border: none !important;">
                        <a href="{{ path_for('product',{"productID": product.productID}) }}">
                            <img src="{{ base_url() }}/images/{{ product.image }}.jpg" style="height: 250px; border-radius: 15px;" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body" style="padding: 0;">
                            <div class="row mt-4">
                                <div class="col-8">
                                    <a href="{{ path_for('product',{"productID": product.productID}) }}" class="card-title text-black font-125">{{ product.title }}</a>
                                </div>
                                <div class="col-4">
                                    <div align="right">
                                        <h5 class="card-title text-green">{{ product.price }} Br.</h5>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text" style="overflow: hidden; white-space: nowrap;">{{ product.excerpt }}</p>
                            <a href="{{ path_for('addToCart',{"productID": product.productID}) }}" class="btn btn-outline-green btn-rounded" style="color: #166F22 !important;"><i class="fa-solid fa-cart-shopping mr-3"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}