<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Rubee</title>
        <link rel="stylesheet" href="{{ base_url() }}/css/global.css">
        <link rel="stylesheet" href="{{ base_url() }}/css/theme.css">
        <link rel="stylesheet" href="{{ base_url() }}/css/layout.css">
        <link rel="stylesheet" href="{{ base_url() }}/css/rubee.css">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-layout mx-5">
            <a class="navbar-brand" href="{{ path_for('landing') }}">
                <img src="{{ base_url() }}/images/logo.png" height="30">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item mx-2"><a class="nav-link" href="{{ path_for('landing') }}">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ path_for('categories') }}" role="button" data-toggle="dropdown" aria-expanded="false">Shop</a>
                        <div class="dropdown-menu">
                            {% for category in data.categories %}
                                <a class="dropdown-item" href="{{ path_for('category', {"categoryID": category.categoryID}) }}">{{ category.title }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item mx-2"><a class="nav-link" href="{{ path_for('contact') }}">Contact Us</a></li>
                    <li class="nav-item mx-2"><a class="nav-link" href="{{ path_for('about') }}">About Us</a></li>
                </ul>
                <ul class="navbar-nav mx-auto">
                    <form action="{{ path_for('search') }}" method="get" class="form-inline my-2 my-lg-0 mx-2">
                        <div class="input-group mb-3">
                            <input type="search" name="search" class="form-control" placeholder="Search" value="{{ data.search }}" style="border: none; border-top-left-radius: 20px; border-bottom-left-radius: 20px; background-color: #F6F6F6;">
                            <div class="input-group-append" style="border: none;">
                                <button class="btn btn-white" type="button" id="button-addon2" style="border-top-right-radius: 20px; border-bottom-right-radius: 20px; background-color: #F6F6F6;"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </div>
                    </form>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-2"><a class="nav-link" href="{{ path_for('cart') }}"><i class="fa-solid fa-cart-shopping font-125"></i></a></li>
                </ul>
            </div>
        </nav>


        {% block content %}{% endblock %}


        <br />
        <footer class="footer py-5 mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <img src="{{ base_url() }}/images/logoII.png" style="width: 100px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-white mt-3">
                            Bitweded Bahiru Building
                            <br />
                            Bole around Dembel
                            <br />
                            Addis Ababa, Ethiopia
                            <br />
                            info@rubee.et
                        </p>
                        <br />
                        <a class="socialLinks mr-3"><i class="fa-brands fa-facebook-f text-white"></i></a>
                        <a class="socialLinks mr-3"><i class="fa-brands fa-instagram text-white"></i></a>
                        <a class="socialLinks mr-3"><i class="fa-brands fa-tiktok text-white"></i></a>
                        <a class="socialLinks mr-3"><i class="fa-brands fa-telegram text-white"></i></a>
                        <br />
                        <br />
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="mobile-only">
                                    <div class="mt-3"></div>
                                </div>
                                <center>
                                    <ul class="links">
                                        <li><a href="{{ path_for('landing') }}" class="text-white">Home</a></li>
                                        <li><a href="{{ path_for('about') }}" class="text-white">About</a></li>
                                        <li><a href="{{ path_for('contact') }}" class="text-white">Contact</a></li>
                                        <li><a href="{{ path_for('categories') }}" class="text-white">Shop</a></li>
                                    </ul>
                               </center>
                            </div>
                            <div class="col-md-4">
                                <form class="form-inline">
                                    <div class="mobile-only">
                                        <div class="mt-5"></div>
                                    </div>
                                    <p class="text-white">Get the Freshest news from us.</p>
                                    <div class="input-group mb-3">
                                        <input type="email" name="email" class="form-control" placeholder="Email" required />
                                        <div class="input-group-prepend">
                                            <input class="btn btn-dark" type="submit" value="Subscribe">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12" style="border-top: 0.5px solid #ffffff;">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="links mt-3">
                                    <li><a href="{{ path_for('terms') }}" class="text-white">Terms</a></li>
                                    <li><a href="{{ path_for('privacy') }}" class="text-white">Privacy</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <div align="right">
                                    <span class="mt-3 text-white">&copy; 2024 720Labs</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    </body>
</html>