{% extends "public/layout.html" %}

{% block content %}

    <div class="container my-5">
        <div class="row my-5">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path_for('landing') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path_for('categories') }}">{{ data.product.category }}</a></li>
                        {% if data.product.subcategoryID == 0  %}

                        {% else %}
                            <li class="breadcrumb-item"><a href="{{ path_for('subcategory', {"subcategoryID": data.product.subcategoryID}) }}">{{ data.product.subcategory }}</a></li>
                        {% endif %}
                        <li class="breadcrumb-item">{{ data.product.title }}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row my-5 mb-3">
            <div class="col-md-6">
                <img src="{{ base_url() }}/images/{{ data.product.image }}.jpg" class="img-fluid" style="border-radius: 15px;">
            </div>
            <div class="col-md-6 px-5 py-3">
                {% if data.messages.cart %}
                    <div class="row my-3">
                        <div class="col-md-12">
                            <div class="alert alert-success p-2">{{ data.messages.cart[0] }}</div>
                        </div>
                    </div>
                {% endif %}
                <h2>{{ data.product.title }}</h2>
                <h6>{{ data.product.excerpt }}</h6>
                <h6 class="bold400 mt-4" style="text-align: justify;">{{ data.product.description }}</h6>
                <h1 class="my-4">{{ data.product.price }} <span class="font-75">Br.</span></h1>
                <a href="{{ path_for('addToCart',{"productID": data.product.productID}) }}" class="btn btn-outline-green btn-lg btn-rounded mr-3 mt-3" style="color: #e0115f !important;"><i class="fa-solid fa-cart-shopping mr-3"></i> Add to Cart</a>
                <a href="{{ path_for('buyNow',{"productID": data.product.productID}) }}" class="btn btn-rubee btn-lg btn-rounded mr-3 mt-3"><i class="fa-solid fa-cart-shopping mr-3"></i> Buy Now</a>
            </div>
        </div>
        <br />
        <div class="row mt-1">
            <div class="col-md-12">
                <h3>Other Products</h3>
            </div>
        </div>
        <div class="row">
            {% for product in data.featuredProducts %}
                <div class="col-12 col-sm-6 col-md-4 my-4">
                    <div class="card px-2" style="border: none !important;">
                        <a href="{{ path_for('product',{"productID": product.productID}) }}">
                            <img src="{{ base_url() }}/images/{{ product.image }}.jpg" style="height: 250px; border-radius: 15px;" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body" style="padding: 0;">
                            <div class="row mt-4">
                                <div class="col-8">
                                    <a href="{{ path_for('product',{"productID": product.productID}) }}" class="card-title text-black font-125">{{ product.title }}</a>
                                </div>
                                <div class="col-4">
                                    <div align="right">
                                        <h5 class="card-title text-green">{{ product.price }} Br.</h5>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text" style="overflow: hidden; white-space: nowrap;">{{ product.excerpt }}</p>
                            <a href="{{ path_for('addToCart',{"productID": product.productID}) }}" class="btn btn-outline-green btn-rounded" style="color: #e0115f !important;"><i class="fa-solid fa-cart-shopping mr-3"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}